body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* primary colors */
  --primary-color-blue: #1890ff;

  /* secondary colors */
  --secondary-color-blue: #69c0ff;

  /* hovers */
  --primary-color-blue-hover: #096dd9;
  --secondary-color-blue-hover: #40a9ff;
}
